/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$day: 40px;

.overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
}

.calendar-wrapper {
  z-index: 999;
  position: absolute;
  background: #fff;

  &.horizontal {
    width: 620px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 9px 0 rgb(0 0 0 / 14%);
  }

  &.vertical {
    width: 100%;
    top: 0;

    .heading-wrapper {
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 1;

      .top-heading {
        padding: 10px 15px;
        font-size: 17px;
        font-weight: 500;
        border-bottom: 1px solid #c3c3c3;
        position: sticky;
        top: 0;

        mat-icon {
          margin-right: 10px;
        }
      }

      .options-wrapper {
        .date-outer {
          width: 50%;
          height: 90px;

          .offer-text {
            line-height: normal !important;
            background: transparent !important;
            padding: 0 !important;
            height: 100% !important;
          }

          .date {
            font-weight: bold;

            .d {
              font-size: 40px;
              margin-right: 5px;
            }

            .mmyy {
              font-size: 14px;
            }

            .txt {
              font-size: 13px;
              font-weight: normal;
            }
          }

          // .close {
          //     right: 10px !important;
          //     top: 20px;
          // }
        }
      }
    }

    .months-wrapper {
      flex-direction: column !important;
      width: 100%;

      .month-outer {
        border: none;

        .day-outer,
        .week-outer {
          place-content: center space-evenly;

          .day {
            .holiday-text {
              display: none;
            }
          }
        }

        .day-outer {
          margin-bottom: 10px;
          border-bottom: 2px solid #e5e5e5;
        }
      }

      .holidays {
        display: block;
        background: #fee;
        padding: 0 15px;
        margin: 13px 0;

        ul {
          overflow-y: hidden;
          overflow-x: auto;
          width: 100%;
          padding: 12px 0;
          white-space: nowrap;
          font-size: 13px;

          li {
            margin: 0 8px;
            position: relative;
            padding-left: 10px;

            &::before {
              content: '';
              left: 0;
              top: 6px;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #d32f2e;
              position: absolute;
            }

            .no {
              font-weight: bold;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .btn-done {
    position: fixed;
    bottom: 40px;
    display: inline-block;
    padding: 4px 25px;
    font-size: 17px;
    left: 50%;
    transform: translateX(-50%);
    background: #d32f2f;
    text-transform: capitalize;
    color: #fff;
  }
}

.day {
  position: relative;
  width: $day;
  height: $day;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &.heading {
    font-weight: bold;
    cursor: default;

    &:hover {
      background: transparent;
    }
  }

  .date {
    font-size: 14px;
  }

  .fare {
    font-size: 10px;
    color: #a8a8a8;

    &.lowest {
      color: #198a0d;
    }
  }

  .holiday {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #d32f2f;
    transition: all .2s linear;

  }

  .holiday-text {
    display: none;
    position: absolute;
    top: 40px;
    font-size: 10px;
    background: #7f7b7b;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
  }

  &:hover {
    background: rgba(25, 71, 138, .18);

    .holiday-text {
      display: block;
      z-index: 1;
    }
  }

  &.weekend {
    .date {
      color: #d32f2f;
    }
  }

  &.selected {

    &,
    &:hover {
      background: #19478a;

      .date,
      .fare {
        color: #fff;
      }
    }
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }

  &.hidden {

    &,
    .date,
    .fare {
      color: #fff !important;
      cursor: default;
    }

    .holiday,
    .holiday-text {
      display: none;
    }

    &:hover {
      background: transparent;
    }
  }

  &.inactive {

    &,
    .date {
      color: #bbb;
      cursor: default;
    }

    .fare,
    .holiday-text {
      display: none;
    }

    &:hover {
      background: transparent;
    }
  }

  &.inbetween {
    color: #3966b9;
    background: rgba(150, 186, 240, .18);
  }

  &.today {
    border: 1px solid #19478a;
  }
}

.month-title {
  font-size: 14px;
  font-weight: 700;
  color: #d32f2f;
  text-transform: uppercase;
  padding: 15px 0;
}

.months-wrapper {
  position: relative;
  width: fit-content;

  .month-outer {
    padding: 10px 15px;

    &:last-child {
      border-left: 1px solid #c3c3c3;
    }
  }


}

.action {
  position: absolute;
  top: 20px;
  cursor: pointer;

  &.left {
    left: 15px;
  }

  &.right {
    right: 15px;
  }

  &.disabled {
    opacity: .25;
  }
}

.holidays {
  display: none;
}

.options-wrapper {
  border-bottom: 1px solid #c3c3c3;

  .date-outer {
    cursor: pointer;
    padding: 10px 15px;
    border-left: 1px solid #c3c3c3;
    position: relative;

    .text {
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      color: #5b5b5b;
    }

    .date {
      font-size: 14px;
      font-weight: bold;
      min-width: 101px;
    }

    .close {
      position: absolute;
      right: 5px;
      font-size: 13px;
    }

    &.selected {
      border-bottom: 2px solid red;
    }

    .offer-text {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: #010101;
      background: #ebebeb;
      line-height: 30px;
      height: 30px;
      padding: 0 15px;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .calendar-wrapper {
    &.horizontal {
      width: 425px;

      .months-wrapper {
        flex-direction: column !important;
        width: 100% !important;

        .month-outer {
          border: none;

          .day-outer,
          .week-outer {
            place-content: center space-evenly;

            .day {
              .holiday-text {
                display: none;
              }
            }
          }

          .day-outer {
            margin-bottom: 10px;
            border-bottom: 2px solid #e5e5e5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .calendar-wrapper {
    &.horizontal {
      width: 350px;
    }
  }
}


@media screen and (max-width: 430px) {
  .calendar-wrapper {
    &.horizontal {
      width: 280px;
    }
  }
}